$unit: 1rem

$red: #ff0000
$blue: #0000ff
$green: #00ff00
$white: #ffffff
$color-input: #ddd
$color-primary: #f100f1
$color-placeholder: #aaa
$color-error: #ff0000
$color-white: #ffffff
$color-tooltip-text: #ffffff

$mobile-width: 700px
