body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

pre {
  width: 100%;
  padding: 0;
  font-size: x-small !important;
  border-radius: 3px;
  background-color: transparent !important;
}

.container {
  padding: 1em;
  max-width: 960px !important;
}

.tile {
  border-radius: 0;
  display: flex;
}

.tile.is-parent {
  border-radius: 5px;
  overflow: hidden;
  padding: 0;
}

.notification {
  padding: 1.5em;
}

li > p {
  margin: 0 !important;
}
